<section class="w-10/12 m-auto">
  <!-- url -->
  <div class="text-white py-6">
    <a routerLink="/home" class="text-yellow-300"> Home</a>
    <span class="mx-2">/</span>
    <a routerLink="/menu" class="text-yellow-300"> Home</a>
    <span class="mx-2">/</span>
    <span>Cart</span>
  </div>

  <div class="flex items-center pl-3">
    <img src="images/crosshairs.png" class="w-10 h-10" />
    <span class="text-yellow-300 text-5xl font-bold pl-1">Cart</span>
  </div>
  <div class="w-10/12 border-2 border-red-400"></div>
</section>
